/* Network navigation */
    div#navigation_network {
        display:block;
        width:100%;
        background:rgb(0, 0, 0);
        border-bottom:1px solid rgb(59, 59, 59);
    }
    div#navigation_network ul {
        list-style:none;
        text-align:center;
        margin-bottom:0 !important;
    }
    div#navigation_network ul li {
        display:inline-block;
        margin:1em 0;
    }
    div#navigation_network ul li a {
        display:block;
        height:15px;
        font-size:0;
        text-indent:-9999px;
        background-repeat:no-repeat;
        border:0;
    }
    
        /* Sites */
        div#navigation_network ul li#campbell a {
            width:122px;
            background-image:url(../images/site/nav/network/simon_campbell.png);
        }
        div#navigation_network ul li#campbell.cur a,
        div#navigation_network ul li#campbell a:hover,
        div#navigation_network ul li#campbell a:focus {
            background-image:url(../images/site/nav/network/simon_campbell_active.png);
        }
        div#navigation_network ul li#music a {
            width:55px;
            background-image:url(../images/site/nav/network/music.png);
        }
        div#navigation_network ul li#music.cur a,
        div#navigation_network ul li#music a:hover,
        div#navigation_network ul li#music a:focus {
            background-image:url(../images/site/nav/network/music_active.png);
        }
        div#navigation_network ul li#blog a {
            width:38px;
            background-image:url(../images/site/nav/network/blog.png);
        }
        div#navigation_network ul li#blog.cur a,
        div#navigation_network ul li#blog a:hover,
        div#navigation_network ul li#blog a:focus {
            background-image:url(../images/site/nav/network/blog_active.png);
        }