/* Network navigation */
    div#navigation_network {
        display:block;
        width:100%;
        background:rgb(0, 0, 0);
        border-bottom:1px solid rgb(59, 59, 59);
    }

    div#navigation_network ul {
        list-style: none;
        margin: 0 auto;
        margin-bottom: 0 !important;
        width: 940px;
    }
    div#navigation_network ul li {
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
    }
    div#navigation_network ul a {
        color: rgb(107, 107, 107);
        display: block;
        padding: 14px 0;
        text-decoration: none;
    }
    div#navigation_network ul a:hover,
    div#navigation_network ul li.cur a {
        color: rgb(255, 255, 255);
    }
    
        /* Sites */
        div#navigation_network ul li#nn_simon a,
        div#navigation_network ul li#nn_music a {
            /* This image may need to live somewhere universal */
            background: url(../images/site/nav/navigation_pri/bullet_light.png) no-repeat right center;
            padding: 14px 8px 14px 2px;
        }
        div#navigation_network ul li#nn_simon a {
            padding-left: 0;
        }
        