/* Network navigation */
    div#navigation_network {
        display:block;
        width:100%;
        background:rgb(0, 0, 0);
        border-bottom:1px solid rgb(59, 59, 59);
    }

    div#navigation_network ul {
        list-style: none;
        margin: 0 auto;
        margin-bottom: 0 !important;
        width: 940px;
    }
    div#navigation_network ul li {
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing:0.1em;
    }
    div#navigation_network ul a {
        color: rgb(107, 107, 107);
        display: block;
        padding: 14px 0;
        text-decoration: none;
    }
    div#navigation_network ul a:hover,
    div#navigation_network ul li.cur a {
        color: rgb(255, 255, 255);
    }
    
        /* Sites */
        div#navigation_network ul li#nn_simon {
            margin-left: 17px;
        }
        div#navigation_network ul li#nn_simon a,
        div#navigation_network ul li#nn_music a {
            background: url(../images/site/nav/navigation_pri/bullet_light.png) no-repeat right center;
            padding: 14px 8px 14px 2px;
        }
        div#navigation_network ul li#nn_simon a {
            padding-left: 0;
        }
        
        div#navigation_network ul li#nn_rss {
            margin-left: 440px;
        }
        div#navigation_network ul li#nn_rss a,
        div#navigation_network ul li#nn_twitter a,
        div#navigation_network ul li#nn_facebook a {
            background-position: 0 0;
            background-repeat: no-repeat;
            height: 16px;
            margin-right: 12px;
            padding: 0 0 0 21px;
        }
        div#navigation_network ul li#nn_rss a {
            background-image: url(../images/site/nav/network/nn_rss.png);
        }
        div#navigation_network ul li#nn_twitter a {
            background-image: url(../images/site/nav/network/nn_twitter.png);
        }
        div#navigation_network ul li#nn_facebook a {
            background-image: url(../images/site/nav/network/nn_facebook.png);
            margin-right: 0;
        }
        