ul#nav_access {
    display:none;
}

div#navigation_network ul li {
    display:inline;
}

img.album,
div#thirtysix img {
    background:rgb(47, 47, 47);
}

ul.social li {
    display:block;
}
ul.social li a {
    display:block;
    padding-left:30px;
    border:1px dotted rgb(47, 47, 47);
    background-position:8px 8px;
}

div#brother_info {
    border-bottom:1px dashed rgb(95, 95, 95);
}

div#launch_event {
    border-top:1px dashed rgb(95, 95, 95);
    border-bottom:1px dashed rgb(95, 95, 95);
    background:rgb(47, 47, 47);
}

ul.event_cta {
    width:120px;
}

ul.event_cta li {
    padding:0;
}

ul.event_cta li a {
    background:rgb(47, 47, 47);
}

input {
    float:left;
}

input.submit {
    width:auto;
    display:block;
    padding:3px;
    background:rgb(47, 47, 47);
    border:1px dashed rgb(95, 95, 95);
    float:left;
    color:rgb(255, 255, 255);
    cursor:pointer;
    margin-left:10px;
}
input.submit:hover,
input.submit:focus {
    background:rgb(47, 47, 47);
}
