/*

    ENERGYNATION
	VERSION 1.0
	IE6 OVERRIDE STYLES

*/



ul#nav_access { top:-32px; margin-bottom:-32px; }
ul#nav_access li a { top:32px; }



/* DEFAULT STYLING
---------------------------------------------------------------------- */

/* FORMS ---------- */

    input.text,
    input.password,
    textarea { border:1px solid #abadb3; padding:5px; margin:0; width:243px; }
    
    input.error,
    textarea.error { border-color:#ae051f !important; }

    input.submit { color:#fff; font-weight:bold; background:#ae041e; border:none; font-size:13px; line-height:34px; padding:0 12px; cursor:pointer; float:right; }



/* HEADINGS
---------------------------------------------------------------------- */

h3 a.rss { margin-top:-32px; }



/* NAVIGATION
---------------------------------------------------------------------- */

ul#navigation_pri { position:relative; z-index:999; }

ul#navigation_pri li a { background:url(../images/site/nav_arrowdown.gif) no-repeat 10px 22px; }

ul#navigation_pri li.hover { background-color:#355f85; margin:-5px 0 0 0; padding:5px 0 0 0; }
ul#navigation_pri li.hover ul { display:block; }

ul#navigation_pri li ul li.first { border:none; }
ul#navigation_pri li ul li.hover { background-color:transparent; top:0; margin:0; padding:0; }



/* SITEINFO/FOOTER
---------------------------------------------------------------------- */

div#siteinfo { height:32px; }

ul#siteinfo_pages { display:inline; }



/* GLOBAL ELEMENTS
---------------------------------------------------------------------- */

/* MEDIA LISTING ---------- */

    ul.media_listing li { position:relative; }
    ul.media_listing li h4 { margin-top:-32px; }
    
    ul.navigation_media { width:100%; }  
    
    ul.media_listing ul.meta { float:left; position:absolute; margin:0; top:0; }
    
/* CALL-TO-ACTION GLOSSY BUTTON ---------- */
    
    p.cta_button a:hover { color:#fff; }



/* HOMEPAGE
---------------------------------------------------------------------- */

div#homepage_informational_pri p.first { font-weight:bold; font-size:22px; line-height:24px; }