/*

	[PROJECT] by ERSKINE DESIGN
	VERSION 1.0
	IE6 OVERRIDE STYLES
	
*/



/* BODY
---------------------------------------------------------------------- */

ul#nav_access { 
	top:-32px; 
	margin-bottom:-32px; 
}
ul#nav_access li a { 
	top:32px; 
}