/*

    [PROJECT] by ERSKINE DESIGN
    VERSION 1.0
    
    CONTENTS ----------
    
        1.BODY
        2.DEFAULT STYLING
        3.HEADINGS
        4.LINKS
        5.LAYOUT
        6.BRANDING/MASTHEAD
        7.NAVIGATION
        8.SITEINFO/FOOTER
        9.GLOBAL ELEMENTS
    
    -------------------
    
    COLOURS -----------
    
        black #000000
        white #FFFFFF
    
    -------------------
    
*/

@import url(min/reset.min.css);


/* @group 1.BODY
---------------------------------------------------------------------- */

body {
    
}
ul#nav_access {
    position: relative;
}
ul#nav_access li {
    height: 0;
}
ul#nav_access li a {
    position: absolute;
    left: -9999px;
    top: 0;
    font-size: 11px;
    font-weight: bold;
    background: #FFFFCC;
    border: 2px solid #ddd;
    padding: 10px;
    display: block;
}
ul#nav_access li a:focus,
ul#nav_access li a.focus {
    left: 0; 
    color: #333; 
}

/* @end */



/* @group 2.DEFAULT STYLING
---------------------------------------------------------------------- */

.ds p,
.ds ul,
.ds dl,
.ds ol {
    
}
.ds ul {
    
}
.ds ul li {
     
}
.ds dl {
     
}
.ds dl dt {
    
}
.ds dl dd {
    
}
.ds ol {
    
}
.ds ol li {
    
}
.ds hr {
    
}
.ds blockquote {
    
}
.ds blockquote p {
    
}
.ds blockquote cite {
    
}
.ds pre {

}
.ds pre code {
    font-family: monospace;
    white-space: pre;
}
.ds code {
    
}
.ds abbr {
    
}
.ds abbr:hover {
    
}
.ds del {
    
}
.ds strong {
    
}
.ds em {
    
}
.ds sup {
    
}
.ds sub {
    
}


/* FORMS
-------------------------------------- */

.ds form {
    
}
.ds form fieldset {
    
}
.ds form fieldset div {
    
}
.ds label {

}
.ds label em {
    
}
.ds input[type="input"],
.ds input[type="password"] {
    
}
.ds textarea {
    
}
.ds input[type="submit"] {
    
}
/* TABLES
-------------------------------------- */
.ds table {
    
}
.ds caption {
    
}
.ds thead {
    
}
.ds tbody {
    
}
.ds tr {
    
}
.ds th {
    
}
.ds td {
    
}

/* @end */



/* @group 3.HEADINGS
---------------------------------------------------------------------- */

.ds h1,
.ds h2,
.ds h3,
.ds h4,
.ds h5,
.ds h6 { 
    
}
.ds h1 {
    
}
.ds h2 { 
    
}
.ds h3 { 
    
}
.ds h4 { 
    
}
.ds h5 { 
    
}
.ds h6 { 
    
}

/* @end */



/* @group 4.LINKS
---------------------------------------------------------------------- */

a {
    
}
a:hover,
a:focus {
    
}

/* @end */



/* @group 5.LAYOUT

---------------------------------------------------------------------- */
div#page {
    
}

/* @end */



/* @group 6.MASTHEAD
---------------------------------------------------------------------- */

div#masthead {
    
}

/* @end */



/* @group 7.NAVIGATION
---------------------------------------------------------------------- */

ul#navigation_pri {
    
}

/* @end */



/* @group 8.SITEINFO/FOOTER
---------------------------------------------------------------------- */

div#footer {
    
}

/* @end */



/* @group 9.GLOBAL ELEMENTS
---------------------------------------------------------------------- */



/* @end */