div#navigation_network {
/*    margin-top: -42px;*/
}
div#navigation_network ul li {
/*    display: inline;*/
}
div#navigation_network ul li#nn_rss,
div#navigation_network ul li#nn_twitter,
div#navigation_network ul li#nn_facebook {
/*    position: relative;
    top: -12px;*/
}

div#content_pri,
#content_sec .widget {
    background: none;
}

ul#navigation_pri li.first {
    margin-left: 15px;
}

ul.item_listing {
    background: none;
}
ul.item_listing li a:hover {
    background: none;
    text-decoration: underline;
}

div#intro img {
    margin: -8px 20px -8px 3px;
}
div#intro #audio_player {
    margin-top: 10px;
    width: 340px;
}

div#posts div.post ul.post_meta li.first {
    padding-left: 0;
}