/*../images/site/ie6/opacity_10.png
../images/site/ie6/opacity_5.png*/

ul.item_listing {
    background: #232323;
}
ul.item_listing li.odd {
    background: #1C1C1C;
}
#newsletter_signup input.submit {
    padding: 0px 4px;
}
label {
    margin: 0;
    text-align: left;
    width: 90px;
}
body.contact #content_pri input.submit {
    margin-right: 20px;
}

div.gallery_photo p.photo_meta {
    background: #000;
}
ul#gallery_grid li.odd {
    margin-left: 10px;
    margin-right: 10px;
}
#content_pri img,
#content_pri iframe {
    background: #363636;
}