div#navigation_network {
/*    margin-top: -42px;*/
}
div#navigation_network ul li {
    display: inline;
    position: relative;
    top: -15px;
}
div#navigation_network ul a {
    display: inline;
    padding: 12px 4px;
}
div#navigation_network ul li#nn_rss {
    margin-left: 402px;
}

div#content_pri,
#content_sec .widget {
    background: none;
}

ul#navigation_pri li.first {
    margin-left: 15px;
}

ul.item_listing {
    background: none;
}
ul.item_listing li a:hover {
    background: none;
    text-decoration: underline;
}

div#intro img {
    margin: -8px 20px -8px 3px;
}
div#intro #audio_player {
    margin-top: 10px;
    width: 340px;
}

div#posts div.post ul.post_meta li.first {
    padding-left: 0;
}

div#posts p#pagination a {
    background: none;
    display: inline;
    text-decoration: none;
}
div#posts p#pagination a:hover,
div#posts p#pagination a.cur {
    background: none;
    font-weight: bold;
    text-decoration: underline;
}
body.newsletter div#content_pri div.first {
    border-right: 1px dashed #5B5B5B;
    margin-right: 20px;
    padding-right: 20px;
    width: 250px;
}