/*

    [PROJECT] by ERSKINE DESIGN
    VERSION 1.0
    
    CONTENTS ----------
    
        1.BODY
        2.DEFAULT STYLING
        3.HEADINGS
        4.LINKS
        5.LAYOUT
        6.HEADER & BRANDING
        7.NAVIGATION
        8.SITEINFO/FOOTER
        9.GLOBAL ELEMENTS
    
    -------------------
    
    COLOURS -----------
    
        black #000000
        white #FFFFFF
    
    -------------------
    
*/



@import url(reset.css);



/* @group 1.BODY
---------------------------------------------------------------------- */

body {
    font:normal normal normal 0.81em/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(212, 212, 212);
    background:url(../images/site/bgs/bg.jpg) top left repeat rgb(0, 0, 0);
}

/* NAVIGATION ACCESS ---------- */
    ul#nav_access {
        list-style-type: none;
        position:relative;
        margin:0;
    }
    ul#nav_access li {
        height:0;
    }
    ul#nav_access li a {
        position:absolute;
        left:-9999px;
        top:0;
        font-size:11px;
        font-weight:bold;
        background:#FFFFCC;
        border:2px solid #ddd;
        padding:10px;
        display:block;
    }
    ul#nav_access li a:focus,
    ul#nav_access li a.focus {
        left:0; 
        color:#333; 
    }

/* @end */



/* @group 2.DEFAULT STYLING
---------------------------------------------------------------------- */

img.album {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    margin:0 0 1.8em 0;
}

p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-bottom:0.8em;
}

p.meta {
    margin-bottom:1em;
}

p.more {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    clear:both;
}

p,
ul,
dl,
ol {

}

ul {
    list-style-type:square;
    list-style-position:inside;
}
div#content_pri ul {
    margin-bottom:10px;
}
ul li {
    color: rgb(255, 255, 255);
}

dt {
    font-weight:bold;
    margin-bottom:0.2em;
}
dd {
    padding-left:1em;
}

ol {
    list-style-type:decimal;
    list-style-position:inside;
}
div#content_pri ol {
    margin-bottom:10px;
}
ol li {
    color: rgb(255, 255, 255);
}

hr {

}

blockquote {
    padding:10px;
    margin-bottom:10px;
    background:rgba(255, 255, 255, 0.1);
}
blockquote p:last-child {
    margin-bottom:0;
}
blockquote cite {
    font-style:italic;
}

code {

}
pre {

}
pre code {

}

abbr {

}
abbr:hover {

}
del {

}
strong {
    font-weight:bold;
}
em {
    font-style:italic;
}
sup {
    vertical-align: super;
}
sub {

}
small {
    font-size: 14px;
    text-transform: uppercase;
}

/* FORMS ---------- */
    form {
        overflow:hidden;
        margin:15px 0 0 0;
    }
    body.contact #content_pri form {
        border-right: 1px dashed #585858;
        border-right: 1px dashed rgba(255, 255, 255, 0.3);
        float: left;
        width: 320px;
    }
    
    form fieldset {
    }
    form fieldset div {
        margin-bottom: 10px;
    }
    label {
        color: rgb(255, 255, 255);
        display: block;
        float: left;
        font-size: 12px;
        margin-top: 3px;
        margin-right: 15px;
        text-align: right;
        width: 80px;
    }
    label em {

    }
    label.error {
        background: url(../images/site/icons/form_error.png) no-repeat 0 5px;
        color: rgb(255, 186, 0);
/*        display: inline;*/
        float: none;
        margin-left: 95px;
        margin-right: 0;
        padding-left: 15px;
        text-align: left;
        width: 200px;
    }
    input,
    textarea {
        
    }
    input[type="text"],
    input[type="input"],
    input[type="password"],
    input[type="email"],
    textarea {
        width:213px;
        height:10px;
        border:0;
        padding:8px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background:rgb(255, 255, 255);
        color:rgb(123, 123, 123);
        float:left;
        outline:none;
    }
    input[type="text"],
    textarea {
        float: none;
        height: auto;
        padding: 5px 8px;
        width: 195px;
    }
    input[type="input"]:focus,
    input[type="input"]:hover,
    input[type="password"]:focus,
    input[type="password"]:hover,
    input[type="email"]:focus,
    input[type="email"]:hover,
    input[type="text"]:focus,
    input[type="text"]:hover,
    textarea:focus,
    textarea:hover {
        padding:7px;
        border:1px dashed rgb(0, 0, 0);
    }
    input[type="text"]:focus,
    input[type="text"]:hover,
    textarea:focus,
    textarea:hover {
        padding: 4px 7px;
    }
    input.error,
    input.error:focus,
    input.error:hover,
    textarea.error {
        border: 2px solid rgb(255, 186, 0);
        padding: 4px 7px;
    }
    
    
    textarea {
        height: 95px;
    }
    
    /* SUBMIT ---------- */
        form div.submit {

        }
        input.submit,
        a.button {
            background: rgb(205, 205, 205);
            background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(205, 205, 205) 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(205, 205, 205)));
            border: none;
            color: rgb(60, 60, 60);
            cursor: pointer;
            display: block;
            font: normal normal bold 12px/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
            letter-spacing: 0;
            margin: 0;
            min-height:26px;
            padding: 4px 10px;
            text-transform: none;
            
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;
        }
        body.contact #content_pri input.submit {
            float: right;
            margin-right: 15px;
        }
        input.submit:hover,
        a.button:hover {
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(205, 205, 205) 100%);
            background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(205, 205, 205)));
            color:#000;
        }
        
/* TABLES ---------- */
    table { 
    	width:100%;
        margin:0 0 1em 0;
    }
    caption { 
    	font-weight:bold;
    	background:rgba(255, 255, 255, 0.2);
    	padding:6px 8px; 
    }
    th,
    td {
    	padding:12px 8px;
    }
    thead th { 
    	font-weight:bold;
    	background:rgba(255, 255, 255, 0.1);
    }
    tbody tr:nth-child(even) th,
    tbody tr:nth-child(even) td { 
    	background:rgba(255, 255, 255, 0.1);
    }
    tbody th { 
    	font-weight:bold; 
    }
    

/* @end */



/* @group 3.HEADINGS
---------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
    color:rgb(255, 255, 255);
    line-height:1.2em;
}
h1 {

}
h2 { 
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    margin-bottom: 12px;
}
div#content_pri h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
}
h4 { 
    font-size:16px;
    margin-bottom:12px;
}
h5 { 

}
h6 { 

}

/* @end */



/* @group 4.LINKS
---------------------------------------------------------------------- */

a {
    color:rgb(255, 255, 255);
    text-decoration:underline;
}
a:hover,
a:focus {
    color:rgb(200, 200, 200);
}
div#content_pri a {
    font-weight: bold;
}

h1 a,
h2 a {
    text-decoration: none;
}
h1 a:hover,
h2 a:hover {
    opacity: 0.8;
}

/* @end */



/* @group 5.LAYOUT

---------------------------------------------------------------------- */

div#page {
    margin: 0 auto;
    width: 960px;
}
div#header,
ul#navigation_pri,
div#content_pri,
div#content_sec,
div#footer {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
div#header,
ul#navigation_pri,
div#footer {
    width: 940px;
}
div#content_pri {
    width: 620px;
}
div#content_sec {
    width: 300px;
}

/* @end */



/* @group 6.HEADER & BRANDING
---------------------------------------------------------------------- */

div#header {
    margin: 40px 10px 30px;
}
h1#branding,
p#branding {
    margin: 0 auto;
    width: 907px;
}

/* @end */



/* @group 7.NAVIGATION
---------------------------------------------------------------------- */
    
ul#navigation_pri {
    border-top: 1px dashed #5B5B5B;
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    border-bottom: 1px dashed #5B5B5B;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    list-style: none;
    margin-bottom: 40px;
}
ul#navigation_pri li {
    display: inline;
    float: left;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
}
ul#navigation_pri li:first-child {
    margin-left: 15px;
}
ul#navigation_pri a {
    background: url(../images/site/nav/navigation_pri/bullet_heavy.png) no-repeat right center;
    color: rgb(157, 157, 157);
    display: block;
    padding: 12px 11px 12px 8px;
    text-decoration: none;
}
ul#navigation_pri li:first-child a {
    padding-left: 0;
}
ul#navigation_pri li:nth-of-type(7) a {
    background: none;
}
ul#navigation_pri a:hover,
ul#navigation_pri li.cur a {
    color: rgb(255, 255, 255);
}
ul#navigation_pri li.account {
    float: right;
    margin-right: 15px;
}
ul#navigation_pri li.account li {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1;
}
ul#navigation_pri li.account li a {
    background-image: url(../images/site/nav/navigation_pri/bullet_light.png);
}
ul#navigation_pri li.account li:last-child a {
    background-image: none;
    padding-right: 0;
}

/* Navigation Sec */
ul#navigation_sec {
    background: rgba(255, 255, 255, 0.025);
    margin-bottom: 40px;
    margin-top: 0;
}
ul#navigation_sec li:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.025);
}
ul#navigation_sec li:nth-of-type(odd) {
    background: none;
}
ul#navigation_sec a {
    font-weight: normal;
}
ul#navigation_sec li.cur {
    background: rgba(255, 255, 255, 0.075);
}
ul#navigation_sec li.cur a {
    font-weight: bold;
}

/* @end */



/* @group 8.SITEINFO/FOOTER
---------------------------------------------------------------------- */

div#footer {
    border-top: 1px dashed #5B5B5B;
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    border-bottom: 1px dashed #5B5B5B;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}

div#footer p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1;
    margin: 18px 0;
    opacity:0.5;
}
div#footer p:hover,
div#footer p:focus {
    opacity:1;
}

div#footer p.copyright {
    float:left;
    margin-left: 15px;
}
div#footer p.credit {
    float:right;
    margin-right: 15px;
}

/* @end */



/* @group 9.GLOBAL ELEMENTS
---------------------------------------------------------------------- */
    
    div#content_pri,
    .widget {
        background: rgba(255, 255, 255, 0.02);
        border-top: 1px dashed #5B5B5B;
        border-top: 1px dashed rgba(255, 255, 255, 0.3);
        border-bottom: 1px dashed #5B5B5B;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
        margin-bottom: 40px;
        padding: 15px;
        width: 590px;
    }
    body.home div#content_pri {
        margin-bottom: 0;
    }
    body.home div#content_pri,
    body.editorial div#content_pri {
        background: none;
        border: none;
        padding: 0;
        width: 620px;
    }
    
    /* CONTENT PRI */
    #content_pri h3 {
        letter-spacing: 1px;
    }
    #content_pri img,
    #content_pri iframe {
        background: rgba(255, 255, 255,0.1);
        padding: 5px;
    }
    #content_pri img.img_right {
        float: right;
        margin: 5px 0 0 20px;
    }
    
        /* CONTENT PRI: INTRO */
        div#intro {
            /* NOTE: Not sure how important it is that this is the same height as the aside promo box */
            min-height: 175px;
        }
        div#intro h2 {
            font-size: 30px;
        }
        .no-js div#intro h2 {
            font-size:25px;
        }
        div#intro h2 strong,
        div#intro small strong {
            font-weight: normal;
        
        }
        div#intro img {
            background: rgb(50, 50, 50);
            float: left;
            margin: -18px 20px 0 -30px;
            -moz-transform: rotate(-1.5deg);
            -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
        }
        div#intro a img {
            border: none;
        }
        div#intro a:hover img {
            background: rgb(60, 60, 60);
        }
        div#intro small {
            color: rgb(255, 255, 255);
            font-size: 18px;
        }
        div#intro #audio_player {
            margin-top: 8px;
        }
        
        /* POSTS */
        div#posts {
            padding-bottom: 0;
        }
        div#posts p.more {
            margin-bottom:20px;
        }
        div#posts div.post {
            border-bottom: 1px dashed #5B5B5B;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            margin-bottom: 20px;
            padding-bottom: 20px;
            width: 100%;
        }
        div#posts div.post:last-child {
            border: none;
            padding-bottom: 0;
        }
        div#posts div.post h2 {
            font-size:26px;
            margin-bottom: 10px;
        }
        
        div#posts div.post ul.post_meta {
            list-style: none;
            margin-bottom: 15px;
            width: 100%;
        }
        div#posts div.post ul.post_meta,
        div#posts div.post ul.post_meta li {
            float: left;
        }
        div#posts div.post ul.post_meta li {
            color: rgb(255, 255, 255);
            display: inline;
            font-size: 12px;
            letter-spacing: 1px;
            padding: 0 5px;
        }
        div#posts div.post ul.post_meta li:first-child {
            padding-left: 0;
        }
        div#posts div.post ul.post_meta li {
            padding-right: 0;
        }
        div#posts div.post ul.post_meta a {
            display: block;
            font-weight: bold;
        }
        div#posts div.post ul.post_meta li#pm_twitter a,
        div#posts div.post ul.post_meta li#pm_facebook a {
            background-position: 0 2px;
            background-repeat: no-repeat;
            margin-right: 2px;
            padding: 0 0 0 20px;
        }
        div#posts div.post ul.post_meta li#pm_twitter a {
            background-image: url(../images/site/nav/network/nn_twitter.png);
        }
        div#posts div.post ul.post_meta li#pm_facebook a {
            background-image: url(../images/site/nav/network/nn_facebook.png);
        }       
        div#posts p#pagination {
            color: rgb(255, 255, 255);
            font-size: 11px;
            float: left;
            margin-bottom: 0;
            margin-top: -4px;
        }
        div#posts p#pagination a:first-child {
            margin-left: 8px;
        }
        div#posts p#pagination a {
            background: rgba(255, 255, 255, 0.1);
            color: rgb(212, 212, 212);
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            height: 20px;
            margin-left: 2px;
            text-align: center;
            text-decoration: none;
            width: 20px;
        }
        div#posts p#pagination strong {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            height: 20px;
            padding:0 2px;
            
        }
        div#posts p#pagination a:hover,
        div#posts p#pagination a.cur {
            background: rgba(255, 255, 255, 0.25);
            font-weight: bold;
        }
        
        /* GALLERY */
        p#gallery_nav {
            height: 0;
            margin: 0;
            position: relative;
            top: 360px;
            z-index: 2;
        }
        p#gallery_nav a.gallery_skip {
            background-image: url(../images/site/icons/gallery_nav.png);
            background-repeat: no-repeat;
            display: block;
            height: 18px;
            position: absolute;
            text-indent: -9999em;
            width: 18px;
        }
        p#gallery_nav a.prev {
            background-position: 0 0;
            right: 39px;
        }
        p#gallery_nav a.next {
            background-position: -25px 0;
            right: 13px;
        }
        
        body.gallery #content_pri img {
            background: none;
            padding: 0;
        }
        #content_pri div.gallery_photo img,
        #content_pri ul#gallery_grid a img {
            background: rgba(255, 255, 255,0.07);
            padding: 5px;
        }
        #content_pri ul#gallery_grid a:hover img,
        #content_pri ul#gallery_grid li.activeSlide a img {
            background: rgba(255, 255, 255,0.12);
            padding: 5px;
        }
        div#gallery_photos {
            z-index: 1;
        }
        div.gallery_photo {
            position: relative;
        }
        div.gallery_photo p.photo_meta {
            background: rgba(0, 0, 0, 0.9);
            font-size: 12px;
            height: 18px;
            padding: 8px 12px;
            position: absolute;
            width: 556px;
            right: 5px;
            top: 351px;
        }
        div.gallery_photo p.photo_meta em {
            font-style: normal;
            font-weight: bold;
        }
        
        ul#gallery_grid {
            list-style: none;
            margin-top: 10px;
        }
        ul#gallery_grid,
        ul#gallery_grid li {
            float: left;
        }
        ul#gallery_grid li {
            display: inline;
            margin-bottom: 10px;
        }
        ul#gallery_grid li:nth-of-type(3n-1) {
            margin-left: 10px;
            margin-right: 10px;
        }
        ul#gallery_grid a {
            display: block;
        }
        
        /* FORM ASIDE - (Make more generic later) */
        div#form_aside {
            float: left;
            margin: 12px 0 0 15px;
            width: 254px;
        }
        div#form_aside p {
            font-size: 12px;
        }
        div#form_aside p,
        div#form_aside address {
            color: rgb(255, 255, 255);
        }
        div#form_aside address {
            margin-left: 25px;
        }
        
        /* EDITORIAL LAYOUT */
        body.editorial #content_pri h3 {
            text-transform: uppercase;
        }
        body.editorial #content_pri ul {
            list-style-position: outside;
        }
        body.editorial #content_pri li {
            list-style-position: outside;
            margin-bottom: 8px;
            margin-left: 18px;
        }
        
        body.editorial #content_pri div.widget {
            border-top: none;
            margin-bottom: 0;
        }
        body.editorial #content_pri div.widget:first-of-type {
            border-top: 1px dashed #5B5B5B;
            border-top: 1px dashed rgba(255, 255, 255, 0.3);
        }
        body#bio #content_pri div.widget:nth-of-type(even),
        body#gear #content_pri div.widget:nth-of-type(odd),
        body#history #content_pri div.widget:nth-of-type(odd) {
            background: rgba(255, 255, 255, 0.05);
        }
        
            /* EDITORIAL: Bio template */
            body#bio #content_pri h3 {
                font-size:20px;
                letter-spacing:0.075em;
                margin-bottom:0.75em;
            }
            body#bio #beginnings {
                background: #1E1E1E url(../images/site/bgs/bio/bio_beginnings.png) no-repeat bottom right;
                background: url(../images/site/bgs/bio/bio_beginnings.png) no-repeat bottom right, rgba(255, 255, 255, 0.02);
            }
            body#bio #beginnings p {
                width: 365px;
            }
            body#bio #beginnings p:first-of-type {
                width: 410px;
            }
            body#bio div#beginnings h3 + p:first-letter {
                background: rgba(255, 255, 255, 0.1);
                color: rgb(255, 255, 255);
                float: left;
                font-size: 33px;
                margin: 5px 8px 0 0;
                padding: 10px 5px;
            }
            body#bio #tribute {
                background: #1E1E1E url(../images/site/bgs/bio/bio_tribute.png) no-repeat bottom right;
                background: url(../images/site/bgs/bio/bio_tribute.png) no-repeat bottom right, rgba(255, 255, 255, 0.02);
            }
            body#bio #tribute p {
                width: 360px;
            }
            
            /* EDITORIAL: Bio/Gear template */
            body#gear #gear_guitars {
                background: #1E1E1E url(../images/site/bgs/bio/bio_gear_guitars.png) no-repeat bottom right;
                background: url(../images/site/bgs/bio/bio_gear_guitars.png) no-repeat bottom right, rgba(255, 255, 255, 0.02);
            }
            body#gear #gear_guitars li {
                width: 310px;
            }
            body#gear #gear_guitars li:first-child,
            body#gear #gear_guitars li:nth-child(2),
            body#gear #gear_guitars li:nth-child(3) {
                width: auto;
            }
            
            /* EDITORIAL: thirtysix/history template */
            body#history #thejourney,
            body#history #content_pri div.widget:nth-of-type(odd)#thejourney {
                background: #252525 url(../images/site/bgs/thirtysix/history_journey.png) no-repeat bottom right;
                background: url(../images/site/bgs/thirtysix/history_journey.png) no-repeat bottom right, rgba(255, 255, 255, 0.05);
            }
            
            /* EDITORIAL: Album Lyrics */
            body#lyrics div#content_pri {
                background: rgba(255, 255, 255, 0.02);
                border-top: 1px dashed #5B5B5B;
                border-top: 1px dashed rgba(255, 255, 255, 0.3);
                border-bottom: 1px dashed #5B5B5B;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            }
            body#lyrics div#content_pri .widget {
                background: none;
                border: none;
                border-bottom: 1px dashed #5B5B5B;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
                float: left;
                padding: 18px;
                width: 274px;
            }
            body#lyrics div#content_pri .widget p {
                font-size: 12px;
            }
            body#lyrics div#content_pri .half .widget:last-child {
                border-bottom: none;
            }
            body#lyrics div#content_pri div.opacity_02 {
                background: #1E1E1E;
                background: rgba(255, 255, 255, 0.02);
            }
        
        /* THIRTYSIX LANDING TEMPLATE */
        body.thirtysix div#content_pri {
            background: rgb(0, 0, 0) url(../images/site/bgs/thirtysix/thirtysix-album.jpg) no-repeat 0 0;
            padding: 0;
            width: 620px;
        }
        body.thirtysix div#content_pri .widget {
            background: rgba(0, 0, 0, 0.85);
            border: none;
            margin-bottom: 30px;
            padding: 15px 60px;
            width: auto;
        }
        body.thirtysix div#content_pri .widget:first-child {
            padding: 20px 15px;
            width:320px;
        }
        body.thirtysix div#content_pri .widget:first-child h2 {
            margin-bottom: 0;
        }
        body.thirtysix.no-js div#content_pri .widget:first-child h2 {
            font-size:14px;
            letter-spacing:0.1em;
        }
        body.thirtysix div#content_pri h1,
        body.thirtysix div#content_pri h2,
        body.thirtysix div#content_pri h3 {
            text-transform: uppercase;
        }
        body.thirtysix div#content_pri h1 {
            color: rgb(255, 255, 255);
            font-size: 35px;
            margin-bottom: 0;
        }
        body.thirtysix div#content_pri h2 {
            font-size: 18px;
        }
        body.thirtysix div#content_pri h3 {
            color: rgb(255, 255, 255);
        }
        body.thirtysix div#content_pri blockquote {
            color: rgb(255, 255, 255);
            font-style: italic;
        }
        body.thirtysix div#content_pri blockquote p:before {
            content: '“';
        }
        body.thirtysix div#content_pri blockquote p:after {
            content: '”';
        }
        body.thirtysix div#content_pri blockquote cite {
            display: block;
            font-style: normal;
            font-weight: bold;
            text-align: right;
        }
        
        /* STORE LANDING */
        body.store_landing div#content_pri {
            padding-bottom: 20px;
            padding-top: 20px;
        }
        body.store_landing div#content_pri div.widget {
            background: none;
            border: none;
            border-right: 1px dashed #585858;
            border-right: 1px dashed rgba(255, 255, 255, 0.3);
            margin: 0 0 0 5px;
            padding: 0 20px 0 0;
            width: 280px;
        }
        body.store_landing div#content_pri img {
            float: right;
            margin-right: 5px;
        }
        body.store_landing div#content_pri form {
            margin-left: 15px;
        }
        body.store_landing div#content_pri label {
            font-size: 12px;
        }
        body.store_landing div#content_pri label.error {
            width: auto;
        }
        body.store_landing div#content_pri input[type="text"] {
            width: 148px;
        }
        body.store_landing div#content_pri input.submit {
            float: right;
            margin-right: 4px;
        }
        
        /* NEWSLETTER LANDING */
        body.newsletter div#content_pri {
            border-color: #5B5B5B;
            border-color: rgba(255, 255, 255, 0.3);
            border-style: dashed;
            border-width: 1px;
            margin: 0 0 100px 170px;
            padding: 25px 18px 20px;
            width: 582px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
        body.newsletter div#content_pri div.half:first-child {
            border-right: 1px dashed #5B5B5B;
            margin-right: 20px;
            min-height: 125px;
            padding-right: 20px;
            width: 250px;
        }
        body.newsletter div#content_pri form {
            margin-top: 0;
        }
        body.newsletter div#content_pri form label.error {
            width: auto;
        }
        body.newsletter div#content_pri form input[type="text"] {
            width: 160px;
        }
        body.newsletter div#content_pri form input.submit {
            float: right;
            margin-right: 20px;
        }
        
    /* CONTENT SEC */
    div#content_sec h2 {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    div#content_sec p {
        color: rgb(255, 255, 255);
    }
    
    /* SIDEBAR WIDGETS */
    #content_sec .widget {
        float: left;
        width: 270px;
    }
    
        /* SIDEBAR WIDGETS: Item Listings */
        ul.item_listing {
            background: rgba(255, 255, 255, 0.03);
            border-top: 1px solid rgb(75, 75, 75);
            list-style: none;
            margin-bottom: 8px;
            margin-top: 18px;
        }
        ul.item_listing li {
            border-bottom: 1px solid rgb(75, 75, 75);
        }
        ul.item_listing li,
        ul.item_listing li h3,
        ul.item_listing li p {
            font-size: 12px;
            font-weight: normal;
            line-height: 1;
            margin: 0;
        }
        ul.item_listing li:nth-of-type(odd) {
            background: rgba(255, 255, 255, 0.025);
        }
        ul.item_listing li a {
            color: rgb(255, 255, 255);
            display: block;
            padding: 10px;
            text-decoration: none;
        }
        ul.item_listing li a:hover {
            background: #262626;
            background: rgba(255, 255, 255, 0.035);
        }
    
    /* WIDGET: Promo Block */
    #promo_block.widget {
        padding: 0;
        position: relative;
        width: 300px;
    }
    #promo_block small {
        bottom: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    #promo_block a {
        text-decoration: none;
    }
    
    /* WIDGET: Tour Dates */
    #tour_dates {
        padding-bottom: 10px;
    }
    #tour_dates ul.item_listing h3 {
        float: right;
        text-align: left;
        width: 60%;
    }
    
    /* WIDGET: Store Block */
    #store_block ul.item_listing {
        margin-bottom: 15px;
    }
    #store_block ul.item_listing p {
        float: right;
        margin-top: -12px;
    }
    #store_block a.button {
        margin-left: 15px;
    }
    #store_block a img {
        border: 1px solid rgb(75, 75, 75);
    }
    #store_block a:hover img {
        border: 1px solid rgb(95, 95, 95);
    }
    
    /* WIDGET: Payments */
    #payments_block ul {
        list-style: none;
        margin: 8px 0 6px 0;
        width: 100%;
    }
    #payments_block ul,
    #payments_block ul li {
        float: left;
    }
    #payments_block ul li {
        display: inline;
        margin-right: 10px;
    }
    
    /* WIDGET: Newsletter Signup */
    #newsletter_signup {
        position: relative;
    }
    #newsletter_signup input[type="text"] {
        float: left;
        height: 10px;
        padding: 8px;
        width: 165px;
    }
    #newsletter_signup input[type="text"]:focus,
    #newsletter_signup input[type="text"]:hover,
    #newsletter_signup input[type="text"].error {
        padding: 7px;
    }
    #newsletter_signup input[type="text"].error {
        margin-bottom: 25px;
    }
    #newsletter_signup input.submit {
        float: right;
    }
    #newsletter_signup label.error {
        margin-left: 0;
        position: absolute;
        bottom: 15px;
        width: auto;
    }
    
    /* MISCELLANEOUS */
    #audio_player {
        width:380px;
    }
    
    div#album_promo_inline {
        position: relative;
    }
    div#album_promo_inline div {
        float: right;
        width: 135px;
        position: absolute;
        top: 15px;
        right: 40px;
    }
    div#album_promo_inline div h3 {
        margin-bottom: 16px;
    }
    div#album_promo_inline #audio_player {
        width: 365px;
    }
    div#album_promo_inline a.button {
        padding: 6px 10px;
    }
    a.button {
        color: rgb(60, 60, 60);
        display: inline;
        padding: 4px 8px;
        text-decoration: none;
    }
    
    .hide {
        display: none;
    }
    
    div.opacity_02 {
        background: rgba(255, 255, 255, 0.02);
    }
    
    div.half {
        float: left;
        width: 50%;
    }
    
/* FONT SPACING */

    /* Add some spacing to anywhere we're using Trade Gothic */
    #content_pri h3,
    #content_pri h3 strong,
    small,
    small strong,
    body.thirtysix div#content_pri h2,
    body.thirtysix div#content_pri h1,
    ul#navigation_pri li.account li {
        letter-spacing:0.1em;
    }

    div#intro h2,
    div#intro h2 strong {
        letter-spacing:0.05em;
    }
    
    .no-js #content_pri h3,
    .no-js #content_pri h3 strong,
    .no-js small,
    .no-js small strong,
    .no-js body.thirtysix div#content_pri h2,
    .no-js body.thirtysix div#content_pri h1,
    .no-js ul#navigation_pri li.account li {
        letter-spacing:0;
    }
    
    .no-js div#intro h2,
    .no-js div#intro h2 strong {
        letter-spacing:0;
    }
    


/* iPhone media query */
@media only screen and (max-device-width: 480px) {
    /*
    body {
        width:480px;
    }
    
    div#page {
        width:460px;
        margin:0 10px;
    }
    */
}
    
/* @end */