/*../images/site/ie6/opacity_10.png
../images/site/ie6/opacity_5.png*/

div#content_pri,
#content_sec .widget {
    background: url(../images/site/ie6/opacity_5.png);
}
ul#navigation_pri li.last a {
    background: none;
}

/* IMAGE GALLERY */
div.gallery_photo p.photo_meta {
    background: #000;
}
#content_pri div.gallery_photo img,
#content_pri ul#gallery_grid a img {
    background: #292929;
}
#content_pri ul#gallery_grid a:hover img,
#content_pri ul#gallery_grid li.activeSlide a img {
    background: #3A3A3A;
}

/* CONTACT FORM */
label {
    margin: 0;
    text-align: left;
    width: 90px;
}
body.contact #content_pri input.submit {
    margin-right: 20px;
}

/* EDITORIAL TEMPLATES */
body.editorial div#beginnings h3 + p:first-letter {
    padding-bottom: 3px;
    padding-top: 10px;
}

/* THIRTYSIX TEMPLATE */
body.thirtysix div#album_promo_inline div.last h3 {
    font-size: 17px;
    margin-bottom: 15px;
}

/* JOURNAL */
div#posts div.post.last {
    border: none;
    padding-bottom: 0;
}
div#posts p#pagination a:hover,
div#posts p#pagination a.cur {
    background: #5B5B5B;
}

/* CONTENT SEC */
ul.item_listing {
    background: #232323;
}
ul.item_listing li.odd {
    background: #1C1C1C;
}
#newsletter_signup input.submit {
    padding: 0px 5px;
}

/* TEMPORARY STORE LANDING PAGE */
body.store_landing div#content_pri input.submit {
    margin-right: 6px;
}

/* NEWSLETTER LANDING */
body.newsletter div#content_pri form input.submit {
    margin-right: 24px;
}

/* MISCELLANEOUS RGBA BACKGROUNDS/BORDERS */
#content_pri img,
#content_pri iframe,
body.editorial div#beginnings h3 + p:first-letter,
div#posts p#pagination a {
    background: #363636;
}