/*

    [PROJECT] by ERSKINE DESIGN
    VERSION 1.0
    
    CONTENTS ----------
    
        1.BODY
        2.DEFAULT STYLING
        3.HEADINGS
        4.LINKS
        5.LAYOUT
        6.HEADER & BRANDING
        7.NAVIGATION
        8.SITEINFO/FOOTER
        9.GLOBAL ELEMENTS
    
    -------------------
    
    COLOURS -----------
    
        black #000000
        white #FFFFFF
    
    -------------------
    
*/



@import url(reset.css);



/* @group 1.BODY
---------------------------------------------------------------------- */

body {
    font:normal normal normal 0.81em/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;  
    color: rgb(212, 212, 212);
    background:url(../images/site/bgs/bg.jpg) top left repeat rgb(0, 0, 0);
}

/* NAVIGATION ACCESS ---------- */
    ul#nav_access {
        position:relative;
        margin:0;
    }
    ul#nav_access li {
        height:0;
    }
    ul#nav_access li a {
        position:absolute;
        left:-9999px;
        top:0;
        font-size:11px;
        font-weight:bold;
        background:#FFFFCC;
        border:2px solid #ddd;
        padding:10px;
        display:block;
    }
    ul#nav_access li a:focus,
    ul#nav_access li a.focus {
        left:0; 
        color:#333; 
    }

/* @end */



/* @group 2.DEFAULT STYLING
---------------------------------------------------------------------- */

img.album {
    padding:10px;
    background:rgba(255, 255, 255, 0.1);
    margin:0 0 1.8em 0;
}

p {
    font-size: 13px;
    margin-bottom:0.5em;
}

p.meta {
    margin-bottom:1em;
}

p,
ul,
dl,
ol {

}

ul {

}
ul li {

}

dl {
     
}
dl dt {

}
dl dd {

}

ol {

}
ol li {

}

hr {

}

blockquote {

}
blockquote p {
    
}
blockquote cite {

}

code {

}
pre {

}
pre code {

}

abbr {

}
abbr:hover {

}
del {

}
strong {
    font-weight:bold;
}
em {
    font-style:italic;
}
sup {
    vertical-align: super;
}
sub {

}
small {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/* FORMS ---------- */
    form {
        overflow:hidden;
        margin:15px 0 0 0;
    }
    form fieldset {
    }
    form fieldset div {

    }
    label {

    }
    label em {

    }
    input,
    textarea {
        
    }
    input[type="input"],
    input[type="password"],
    input[type="email"] {
        width:213px;
        height:10px;
        border:0;
        padding:8px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background:rgb(255, 255, 255);
        color:rgb(123, 123, 123);
        float:left;
        outline:none;
    }
    input[type="input"]:focus,
    input[type="input"]:hover,
    input[type="password"]:focus,
    input[type="password"]:hover,
    input[type="email"]:focus,
    input[type="email"]:hover {
        padding:7px;
        border:1px dashed rgb(0, 0, 0);
    }
    
    
    textarea {
    
    }
    
    /* SUBMIT ---------- */
        form div.submit {

        }
        input.submit,
        a.button {
            background: rgb(205, 205, 205);
            background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(205, 205, 205) 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(205, 205, 205)));
            border: none;
            color: rgb(60, 60, 60);
            cursor: pointer;
            display: block;
            font: normal normal bold 12px/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
            letter-spacing: 0;
            margin: 0;
            min-height:26px;
            padding:6px 10px;
            text-transform: none;
            
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;
        }
        input.submit:hover,
        a.button:hover {
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(205, 205, 205) 100%);
            background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(205, 205, 205)));
        }
        
/* TABLES ---------- */
    table {

    }
    caption {

    }
    tr {
    
    }
    th,td {

    }
    th {

    }
    td {
    
    }
    thead th {
    
    }
    thead td {
    
    }
    tbody th {
    
    }
    tbody td {
    
    }
    

/* @end */



/* @group 3.HEADINGS
---------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
h1 {

}
h2 { 
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 { 

}
h4 { 

}
h5 { 

}
h6 { 

}

/* @end */



/* @group 4.LINKS
---------------------------------------------------------------------- */

a {
    color:rgb(255, 255, 255);
    font-weight:bold;
    text-decoration:underline;
}
a:hover,
a:focus {
    color:rgb(232, 232, 232);
}

a img {
    border: 1px solid rgb(75, 75, 75);
}
a:hover img {
    border: 1px solid rgb(95, 95, 95);
}

h1 a,
h2 a {
    text-decoration: none;
}
h1 a:hover,
h2 a:hover {
    opacity: 0.8;
}

/* @end */



/* @group 5.LAYOUT

---------------------------------------------------------------------- */

div#page {
    margin: 0 auto;
    width: 960px;
}
div#header,
ul#navigation_pri,
div#content_pri,
div#content_sec,
div#footer {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
div#header,
ul#navigation_pri,
div#footer {
    width: 940px;
}
div#content_pri {
    width: 620px;
}
div#content_sec {
    width: 300px;
}

/* @end */



/* @group 6.HEADER & BRANDING
---------------------------------------------------------------------- */

div#header {
    margin: 40px 10px 30px;
}
h1#branding {
    margin: 0 auto;
    width: 907px;
}

/* @end */



/* @group 7.NAVIGATION
---------------------------------------------------------------------- */
    
ul#navigation_pri {
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    list-style: none;
    margin-bottom: 30px;
}
ul#navigation_pri li {
    display: inline;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}
ul#navigation_pri li:first-child {
    margin-left: 15px;
}
ul#navigation_pri li:last-child {
    margin-right: 15px;
}
ul#navigation_pri a {
    color: rgb(157, 157, 157);
    display: block;
    padding: 15px 0;
    text-decoration: none;
}
ul#navigation_pri a:hover,
ul#navigation_pri li.cur a {
    color: rgb(255, 255, 255);
}

/* @end */



/* @group 8.SITEINFO/FOOTER
---------------------------------------------------------------------- */

div#footer {
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    /* this isn't showing up, look into it. */
    margin-bottom: 40px;
}

div#footer p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1;
    margin: 18px 0;
    opacity:0.5;
}
div#footer p:hover,
div#footer p:focus {
    opacity:1;
}


div#footer p.copyright {
    float:left;
    margin-left: 15px;
}
div#footer p.credit {
    float:right;
    margin-right: 15px;
}

/* @end */



/* @group 9.GLOBAL ELEMENTS
---------------------------------------------------------------------- */
    
    /* CONTENT PRI */
    #content_pri img,
    #content_pri iframe {
        background: rgba(255, 255, 255,0.1);
        padding: 5px;
    }
    #content_pri img.img_right {
        float: right;
        margin: 10px 0 0 20px;
    }
    
        /* CONTENT PRI: INTRO */
        div#intro {
            margin-bottom: 40px;
            /* NOTE: Not sure how important it is that this is the same height as the aside promo box */
            min-height: 175px;
        }
        div#intro img {
            background: rgb(50, 50, 50);
            float: left;
            margin: -20px 20px 0 -30px;
            -webkit-transform: rotate(-2deg);
        }
        div#intro a img {
            border: none;
        }
        div#intro a:hover img {
            background: rgb(60, 60, 60);
        }
        /* NOTE: Temporary styling to fix small formatting while I dont have the correct fonts */
        div#intro small {
            font-size: 12px;
        }
        div#intro #audio_player {
            margin-top: 12px;
        }
        
        div#intro,
        div#posts {
            background: rgba(255, 255, 255, 0.025);
            border-top: 1px dashed rgba(255, 255, 255, 0.3);
            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            margin-bottom: 40px;
            padding: 15px;
        }
        
        /* POSTS */
        div#posts {
            padding-bottom: 0;
        }
        div#posts div.post {
            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        div#posts div.post:last-child {
            border: none;
        }
        div#posts div.post h2 {
            margin-bottom: 8px;
        }
        div#posts div.post p.post_date {
            color: rgb(255, 255, 255);
            font-size: 11px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        div#posts div.post p.post_date sup {
            font-size: 8px;
        }
    
    /* CONTENT SEC */
    div#content_sec h2 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
    }
    div#content_sec p {
        color: rgb(255, 255, 255);
    }
    div#content_sec p.more {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: right;
    }
    div#content_sec p.more a:hover {
        text-decoration: none;
    }
    
    /* SIDEBAR WIDGETS */
    .widget {
        background: rgba(255, 255, 255, 0.025);
        border-top: 1px dashed rgba(255, 255, 255, 0.3);
        border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
        margin-bottom: 40px;
        padding: 15px;
    }
    
        /* SIDEBAR WIDGETS: Item Listings */
        ul.item_listing {
            background: rgba(255, 255, 255, 0.03);
            border-top: 1px solid rgb(75, 75, 75);
            margin-bottom: 8px;
            margin-top: 18px;
        }
        ul.item_listing li {
            border-bottom: 1px solid rgb(75, 75, 75);
        }
        ul.item_listing li,
        ul.item_listing li h3,
        ul.item_listing li p {
            font-size: 12px;
            font-weight: normal;
            line-height: 1;
            margin: 0;
        }
        ul.item_listing li:nth-of-type(odd) {
            background: rgba(255, 255, 255, 0.025);
        }
        ul.item_listing li a {
            color: rgb(255, 255, 255);
            display: block;
            padding: 10px;
            text-decoration: none;
        }
        ul.item_listing li a:hover {
            background: rgba(255, 255, 255, 0.035);
        }
    
    /* WIDGET: Promo Block */
    #promo_block {
        padding: 0;
        position: relative;
    }
    #promo_block small {
        bottom: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    #promo_block a {
        text-decoration: none;
    }
    #promo_block a:hover {
        text-decoration: underline;
    }
    #promo_block a img {
        border: none;
    }
    
    /* WIDGET: Tour Dates */
    #tour_dates {
        padding-bottom: 10px;
    }
    #tour_dates ul.item_listing h3 {
        float: right;
        text-align: left;
        width: 60%;
    }
    
    /* WIDGET: Store Block */
    #store_block ul.item_listing {
        margin-bottom: 15px;
    }
    #store_block ul.item_listing p {
        float: right;
        margin-top: -12px;
    }
    #store_block a.button {
        color: rgb(60, 60, 60);
        display: inline;
        margin-left: 15px;
        padding: 4px 8px;
        text-decoration: none;
    }
    
    /* WIDGET: Newsletter Signup */
    #newsletter_signup input[type="email"] {
        width: 165px;
    }
    #newsletter_signup input.submit {
        float: right;
    }
    
    /* MISCELLANEOUS */
    #audio_player {
        width:380px;
    }
    
    .hide {
        display: none;
    }

/* iPhone media query */
@media only screen and (max-device-width: 480px) {
    /*
    body {
        width:480px;
    }
    
    div#page {
        width:460px;
        margin:0 10px;
    }
    */
}
    
/* @end */